.header{

}

.content{

}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position:absolute;
    bottom:0;
    width:100%;
    background-color: #ffc0cb;
}
.children{
    background-color: cadetblue;
    flex: 1;
    text-align: center;/*文字居中显示*/
    height: 0.3rem;
}
